[Unit]
Description=gunicorn daemon
Requires=gunicorn_parser.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/ubuntu/Binance-bot
Environment="PATH=/home/ubuntu/Binance-bot/venv/bin"
ExecStart=/home/ubuntu/Binance-bot/venv/bin/python3 /home/ubuntu/Binance-bot/run.py

[Install]
WantedBy=multi-user.target